<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>SRG-POC</title>
    <h:outputStylesheet name="style.css" library="css"/>
</h:head>

<h:body>
    <h:form id="form">
        <p:growl id="msgs" showDetail="true"/>
        <p:selectOneRadio value="#{animaisBean.deveFazerUpload}">
            <f:selectItem itemLabel="Fazer upload" itemValue="#{true}"/>
            <f:selectItem itemLabel="Não fazer upload" itemValue="#{false}"/>
            <p:ajax update=":form:panel"/>
        </p:selectOneRadio>
        <p:panel id="panel" header="Dados">
            <p:panelGrid id="gridUpload" rendered="#{animaisBean.deveFazerUpload}" columns="3">
                <h:outputText value="Arquivo(extensão .csv)"/>
                <h:form enctype="multipart/form-data" id="fupload">
                    <p:fileUpload value="#{animaisBean.arquivo}" mode="advanced" label="selecione" fileLimit="5120"
                                  skinSimple="true" allowTypes="/(\.|\/)(csv)$/" update=":form:panel"
                                  fileUploadListener="#{animaisBean.executarUpload}"/>
                </h:form>

                <p:dataTable value="#{animaisBean.preview}" var="preview"
                             rowIndexVar="var" scrollable="true" scrollHeight="200" scrollRows="20" liveScroll="true" rendered="#{not empty animaisBean.preview}">
                    <f:facet name="header">
                        Preview
                    </f:facet>
                    <p:column headerText="#" style="width:5%">
                        <div style="text-align: center">
                            <h:outputText value="#{var+1}"/>
                        </div>
                    </p:column>
                    <p:column headerText="Apelido">
                        <h:outputText value="#{preview[0]}"/>
                    </p:column>
                    <p:column headerText="Data Nascimento">
                        <h:outputText value="#{preview[1]}"/>
                    </p:column>
                    <p:column headerText="Raça">
                        <h:outputText value="#{preview[2]}"/>
                    </p:column>
                    <p:column headerText="Variedade">
                        <h:outputText value="#{preview[3]}"/>
                    </p:column>

                </p:dataTable>

            <p:commandButton action="#{animaisBean.executarImportacao}" value="Prosseguir" rendered="#{not empty animaisBean.preview}" update=":form:animais, :form:panel, form:msgs"></p:commandButton>

            </p:panelGrid>
            <p:panelGrid id="pnGrid" columns="3" style="border: none" rendered="#{!animaisBean.deveFazerUpload}">

                <p:outputLabel value="Apelido"/>
                <p:autoComplete value="#{animaisBean.animal.apelido}" id="apelido"
                                completeMethod="#{animaisBean.completeApelido}" minQueryLength="2" maxResults="10"
                                required="true" requiredMessage="Campo obrigatorio"></p:autoComplete>
                <p:message for="apelido"/>

                <p:outputLabel value="Data Nascimento"/>
                <p:calendar id="dataNascimento" value="#{animaisBean.animal.dataNascimento }" required="true"
                            requiredMessage="Campo obrigatorio"/>
                <p:message for="dataNascimento"/>

                <p:outputLabel value="Raça"/>
                <p:autoComplete value="#{animaisBean.animal.raca}" id="raca"
                                completeMethod="#{animaisBean.completeRacas}" minQueryLength="2" maxResults="10"
                                required="true" requiredMessage="Campo obrigatorio"></p:autoComplete>
                <p:message for="raca"/>

                <p:outputLabel value="Variedade"/><p:selectOneMenu id="variedade"
                                                                   value="#{animaisBean.animal.variedade}"
                                                                   label="variedade">

                <f:selectItem itemLabel="Selecione" noSelectionOption="true"></f:selectItem>
                <f:selectItems value="#{animaisBean.variedades}" var="v" itemLabel="#{v.descricao}"
                               itemValue="#{v}"/>

            </p:selectOneMenu>
                <p:message for="variedade"/>
                <p:spacer></p:spacer>
                <p:commandButton type="submit" action="#{animaisBean.salvar}" update=":form:msgs, :form"
                                 value="Salvar">
                </p:commandButton>
                <p:spacer></p:spacer>
            </p:panelGrid>
        </p:panel>/

        <p:spacer></p:spacer>
        <p:dataTable id="animais" value="#{animaisBean.animais}" var="animal" rowKey="#{animal.id}" editable="true"
                     editMode="cell" scrollable="true" scrollHeight="500" scrollRows="50">
            <f:facet name="header">
                Animais
            </f:facet>
            <p:ajax event="cellEdit" listener="#{animaisBean.onCellEdit}" update=":form:msgs,:form:animais"
                    process="@this"/>
            <p:column headerText="Apelido">
                <p:cellEditor>
                    <f:facet name="output">
                        <div style="text-align: center"><h:outputText value="#{animal.apelido}"/></div>
                    </f:facet>
                    <f:facet name="input">
                        <div style="text-align: center">
                            <p:autoComplete value="#{animal.apelido}" completeMethod="#{animaisBean.completeApelido}"
                                            minQueryLength="2" maxResults="10"></p:autoComplete>
                        </div>
                    </f:facet>
                </p:cellEditor>
            </p:column>
            <p:column headerText="Data Nascimento">
                <p:cellEditor>
                    <f:facet name="output">
                        <div style="text-align: center">
                            <h:outputText value="#{animal.dataNascimento}"
                                          converter="javax.faces.DateTime"
                                          style="width:20%"/>
                        </div>
                    </f:facet>
                    <f:facet name="input">
                        <div style="text-align: center">
                            <p:calendar value="#{animal.dataNascimento}"
                                        label="nascimento"/>
                        </div>
                    </f:facet>
                </p:cellEditor>
            </p:column>
            <p:column headerText="Raça">
                <p:cellEditor>
                    <f:facet name="output">
                        <div style="text-align: center">
                            <h:outputText value="#{animal.raca}" style="width:20%"/>
                        </div>
                    </f:facet>
                    <f:facet name="input">
                        <div style="text-align: center">
                            <p:autoComplete value="#{animal.raca}"
                                            completeMethod="#{animaisBean.completeRacas}"
                                            minQueryLength="2"
                                            maxResults="10"></p:autoComplete>
                        </div>
                    </f:facet>
                </p:cellEditor>
            </p:column>
            <p:column headerText="Variedade">
                <p:cellEditor>
                    <f:facet name="output">
                        <div style="text-align: center">
                            <h:outputText value="#{animal.variedade.descricao}"
                                          style="width:20%"/>
                        </div>
                    </f:facet>
                    <f:facet name="input">
                        <div style="text-align: center">
                            <p:selectOneMenu value="#{animal.variedade}" label="variedade">
                                <f:selectItems value="#{animaisBean.variedades}" var="v" itemLabel="#{v.descricao}"
                                               itemValue="#{v}"/>
                            </p:selectOneMenu>
                        </div>
                    </f:facet>
                </p:cellEditor>
            </p:column>
        </p:dataTable>
    </h:form>

</h:body>
</html>